.cabecalho .cabecalho__logo {
  margin: 1rem;
}

.cabecalho .cabecalho__menu {
  font-size: 2rem;
  margin: 2rem 1rem;
}

.cabecalho .navbar-collapse .nav-item .nav-link {
  font-size: 2rem;
  text-transform: lowercase;
  font-weight: bold;
  color: #000;
}

.cabecalho .navbar-collapse .nav-item .active {
  color: #5A189A;
}

.swiper-container {
  width: 80vw;
  height: 100%;
  overflow: visible;
}

.swiper-container .swiper-slide {
  margin-top: 5vw;
  height: 70vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-slide__titulo {
  bottom: 95%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 6.5vw;
}

.swiper-container .swiper-slide__subtitulo {
  font-size: 5vw;
  position: absolute;
  bottom: 75%;
}

.swiper-container .swiper-slide img {
  display: block;
  width: 56vw;
  height: 33vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container .swiper-pagination {
  top: 72%;
}

:root {
  --swiper-theme-color: #000;
}

.conteudo {
  text-align: center;
}

.conteudo__titulo {
  font-weight: bold;
  font-size: 7.5vw;
}

.conteudo__subtitulo {
  font-size: 5vw;
  font-weight: 200;
}

.conteudo__btn {
  background-color: #5A189A;
  border: 0;
  border-radius: .25rem;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4vw;
  margin-top: 3vw;
  padding: 4vw 3vw;
}

.conteudo .sub {
  background-color: #E0AAFF;
}

.video {
  text-align: center;
}

.video__titulo {
  margin-top: 15vw;
  font-size: 6vw;
  font-weight: bold;
}

.video__subtitulo {
  font-size: 5vw;
  font-weight: 200;
  padding: 0 6vw;
}

.video__btn {
  width: 50vw;
  background-color: #5A189A;
  border: 0;
  border-radius: .25rem;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1vw 1vw;
}

.video__video {
  border-radius: 2rem;
}

.video .moldura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 5vw;
}

.video .moldura__video {
  width: 85vw;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.video .moldura__btn {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video .moldura__veja {
  font-size: 5vw;
  border: 0;
  background: #5A189A;
  border-radius: .5rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 2vw 4vw;
}

.rodape {
  font-size: 2.5vw;
  color: #FFF;
  margin-top: 2rem;
  background: #5A189A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rodape__img {
  margin: 7vw 2vw;
  width: 20vw;
}

.rodape__info {
  padding-top: 1rem;
  margin-bottom: 0;
}

.rodape__copy {
  padding-top: 1rem;
}
/*# sourceMappingURL=custom.css.map */