.cabecalho{
    .cabecalho__logo{
        margin: 0 2rem;
    }
    .cabecalho__menu{
        font-size: 2rem;
    }
    .navbar-collapse{
        .nav-item{
            .nav-link{
                font-size: 2rem;
                text-transform: lowercase;
                font-weight: bold;
                color: #000;
            }
            .active{
                color: #5A189A;
            }
        }
    }
}

.mySwiper{
    height: 140%; 
    .swiper-slide{
        margin-top: 5vw;
        height: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        &__titulo{
            font-weight: bold;
            text-transform: uppercase;
        }
        &__subtitulo{
            text-align: center;
        }
    }
    .swiper-slide img {
        width: 56vw;
        height: 33vw;
    }
    .swiper-pagination {
        top: 72%;
    }
    .modelo{
        color: #5A189A;
    }
}

:root {
    --swiper-theme-color: #000;
}

.conteudo{
    margin-top: 3rem;
    text-align: center;
    &__titulo{
        font-weight: bold;
        font-size: 7.5vw;
    }
    &__subtitulo{
        font-size: 5vw;
        font-weight: 200;
    }
    &__btn{
        background-color: #5A189A;
        border: 0;
        border-radius: .25rem;
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 4vw;
        margin-top: 3vw;
        padding: 4vw 3vw;
    }
    .sub{
        background-color: #E0AAFF;
    }
}

.video{
    text-align: center;
    &__titulo{
        margin-top: 15vw;
        font-size: 6vw;
        font-weight: bold;
    }
    &__subtitulo{
        font-size: 5vw;
        font-weight: 200;
        padding: 0 6vw;
    }
    &__btn{
        width: 50vw;
        background-color: #5A189A;
        border: 0;
        border-radius: .25rem;
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1vw 1vw;
    }
    &__video{
        border-radius: 2rem;
    }
    .moldura{
        display: flex;
        justify-content: center;
        position:relative;
        margin-bottom: 5vw;
        &__video{
            width: 85vw;
            border-radius: 30px;
            object-fit: cover;
        }

        &__btn{
            position: absolute;
            z-index: 9;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__veja{
            font-size: 5vw;
            border: 0;
            background: #5A189A;
            border-radius: .5rem;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            padding: 2vw 4vw;
        }
    }
}

.rodape{
    font-size: 2.5vw;
    color: #FFF;
    margin-top: 2rem;
    background: #5A189A;
    display: flex;
    &__img{
        margin: 7vw 2vw;
        width: 20vw;
    }
    &__info{
        padding-top: 1rem;
        margin-bottom: 0;
    }
    &__copy{
        padding-top: 1rem;
    }
}