.cabecalho{
    height: 15vh;
    padding: 0 4vw;
    .cabecalho__menu{
        font-size: 2rem;
    }
    .navbar-collapse{
        .nav-item{
            .nav-link{
                font-size: 2rem;
                text-transform: lowercase;
                font-weight: bold;
                color: #000;
            }
            .active{
                color: #5A189A;
            }
        }
    }
}

.tela1{
    padding-top: 7vw;
    height: 85vh;
    .mySwiper{
        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
            &__titulo{
                font-weight: bold;
                text-transform: uppercase;
            }
            &__subtitulo{
                text-align: center;
            }
        }
        .swiper-slide img {
            width: 80%;
        }
        .modelo{
            color: #5A189A;
        }
    }
}

:root {
    --swiper-theme-color: #000;
}

.conteudo{
    margin-top: 10%;
    text-align: center;
    &__titulo{
        font-weight: bold;
        font-size: 4vw;
    }
    &__subtitulo{
        font-size: 1rem;
        font-weight: 200;
    }
    &__btn{
        background-color: #5A189A;
        border: 0;
        border-radius: .25rem;
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3vw;
        padding: 3vw 2vw;
    }
    .sub{
        background-color: #E0AAFF;
    }
}

.video{
    padding-top: 7vw;
    height: 80vh;
    background: cornsilk;
    text-align: center;
    &__titulo{
        font-weight: bold;
    }
    &__subtitulo{
        font-size: 6vw;
        font-weight: 200;
        padding: 0 6vw;
    }
    &__btn{
        background-color: #5A189A;
        border: 0;
        border-radius: .25rem;
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__video{
        border-radius: 2rem;
    }
    .moldura{
        display: flex;
        justify-content: center;
        position:relative;
        margin-bottom: 5vw;
        &__video{
            border-radius: 30px;
            object-fit: cover;
        }

        &__btn{
            position: absolute;
            z-index: 9;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__veja{
            border: 0;
            background: #5A189A;
            border-radius: .5rem;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
        }
    }
}

.rodape{
    height: 20vh;
    color: #FFF;
    background: #5A189A;
    display: flex;
    font-size: 2.4vw;
    &__info{
        height: 100%;
        font-size: 2.4vw;
        overflow: hidden;
    }
}