@media (max-width: 767.98px) {
    .navbar-collapse{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid lightgray;
    }
    .cabecalho__btn{
        background: none;
        border: 0;
    }
}

@media (min-width: 768px) {
    .tela1{
        .bloco1{
            height: 40rem;
        }
        .swiper-container{
            height: 35vw;
            .swiper-slide{
                height: 30vw;
            }
            .swiper-slide img {
                width: 25vw;
                height: 15vw;
            }
            .swiper-pagination{
                height: 10vw;
            }
        }
    }

    .conteudo{
        &__titulo{
            font-size: 2vw;
        }
        &__subtitulo{
            font-size: 1.5vw;
            font-weight: 200;
        }
        &__btn{
            font-size: 1vw;
            margin-top: 1vw;
            padding: 1vw 1vw;
        }
        .sub{
            background-color: #E0AAFF;
        }
    }

    .video{
        text-align: center;
        &__center{
            display: flex;
            align-items: center;
        }
        &__subtitulo{
            font-weight: 200;
            font-size: 2vw;
            padding: 0 6vw;
        }
        &__btn{
            background-color: #5A189A;
            border: 0;
            border-radius: .25rem;
            color: #FFF;
            text-transform: uppercase;
            font-weight: bold;
        }
        &__video{
            border-radius: 2rem;
        }
        .moldura{
            margin-top: 3vw;
            margin-right: 2vw;
            &__video{
                border-radius: 30px;
            }
            video{
                width: 30vw;
            }
            &__btn{
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &__veja{
                font-size: 1.4vw;
                padding: 1vw 2vw;
                border: 0;
                border-radius: .5rem;
            }
        }
    }

    .rodape{
        color: #FFF;
        background: #5A189A;
        &__info{
            font-size: 1vw;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        &__img{
            display: flex;
            justify-content: center;
        }
    }
}
